// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*.top-bar, .left-bar {
	display : none;
}*/

/*global styles*/
.recipes-screen {
	.trends-chart {
		height : 200px;
	}
}
/*global styles*/

.dashboard-screen {

}

.edit-recipe-screen {
	.form-well {
		.widget-well {
			margin: 20px;

			.widget-head {
				background: none;
			}
		}
	}

	.rule {
		overflow: hidden;

		select {
			width: auto;
		}

/*		.primary-filter {
			display: none;
		}

		.curation-filter {
			display: none;
		}*/
	}

	.rule-groups {
		border: 1px solid silver;
	}

	.rule-group {
		border: 1px solid silver;	
	}
}