<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>KeServer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Admin Panel Template">
	<meta name="author" content="Westilian: Kamrujaman Shohel">

	<%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>


	<link rel="shortcut icon" href="ico/favicon.ico">
<script>
$(function () {
    $.jqplot._noToImageButton = true;
    var dailyVisits = [
        ["2012-08-01", 400],
        ["2012-08-02", 500],
        ["2012-08-03", 600],
        ["2012-08-04", 700],
        ["2012-08-05", 800],
        ["2012-08-06", 900],
        ["2012-08-07", 1000],
        ["2012-08-08", 1500],
        ["2012-08-09", 1600],
        ["2012-08-10", 1700],
        ["2012-08-11", 1800],
        ["2012-08-12", 3000],
        ["2012-08-13", 2000],
        ["2012-08-14", 1500],
        ["2012-08-15", 1000],
        ["2012-08-16", 900],
        ["2012-08-17", 800],
        ["2012-08-18", 700],
        ["2012-08-19", 600],
        ["2012-08-20", 500],
        ["2012-08-21", 600],
        ["2012-08-22", 700],
        ["2012-08-23", 800],
        ["2012-08-24", 900],
        ["2012-08-25", 1000],
        ["2012-08-26", 1100],
        ["2012-08-27", 1300],
        ["2012-08-28", 1400],
        ["2012-08-29", 2000],
        ["2012-08-30", 2500],
        ["2012-08-31", 3000],
        ["2012-09-01", 3500],
        ["2012-09-02", 4000],
        ["2012-09-03", 3500],
        ["2012-09-04", 3000],
        ["2012-09-06", 2000],
        ["2012-09-07", 1500],
        ["2012-09-08", 1000],
        ["2012-09-09", 900],
        ["2012-09-10", 800],
        ["2012-09-11", 700],
        ["2012-09-12", 600],
        ["2012-09-13", 500],
        ["2012-09-14", 400],
        ["2012-09-15", 500],
        ["2012-09-16", 600],
        ["2012-09-17", 700],
        ["2012-09-18", 800],
        ["2012-09-19", 900],
        ["2012-09-20", 1000],
        ["2012-09-21", 1500],
        ["2012-09-22", 2000],
        ["2012-09-23", 2500],
        ["2012-09-24", 3000],
        ["2012-09-25", 3500],
        ["2012-09-26", 4000],
        ["2012-09-27", 4500],
        ["2012-09-28", 5000],
        ["2012-09-29", 6000],
        ["2012-09-30", 6500],
        ["2012-10-01", 7000],
        ["2012-10-02", 8000],
        ["2012-10-03", 9000],
        ["2012-10-04", 10000]
    ];
    var uniqueVisits = [
        ["2012-08-01", 200],
        ["2012-08-02", 300],
        ["2012-08-03", 400],
        ["2012-08-04", 500],
        ["2012-08-05", 600],
        ["2012-08-06", 700],
        ["2012-08-07", 800],
        ["2012-08-08", 900],
        ["2012-08-09", 1000],
        ["2012-08-10", 1100],
        ["2012-08-11", 1000],
        ["2012-08-12", 900],
        ["2012-08-13", 800],
        ["2012-08-14", 700],
        ["2012-08-15", 600],
        ["2012-08-16", 500],
        ["2012-08-17", 400],
        ["2012-08-18", 300],
        ["2012-08-19", 200],
        ["2012-08-20", 300],
        ["2012-08-21", 400],
        ["2012-08-22", 500],
        ["2012-08-23", 600],
        ["2012-08-24", 700],
        ["2012-08-25", 800],
        ["2012-08-26", 900],
        ["2012-08-27", 1000],
        ["2012-08-28", 1100],
        ["2012-08-29", 1200],
        ["2012-08-30", 1100],
        ["2012-08-31", 1000],
        ["2012-09-01", 900],
        ["2012-09-02", 800],
        ["2012-09-03", 700],
        ["2012-09-04", 600],
        ["2012-09-06", 500],
        ["2012-09-07", 400],
        ["2012-09-08", 300],
        ["2012-09-09", 200],
        ["2012-09-10", 300],
        ["2012-09-11", 400],
        ["2012-09-12", 500],
        ["2012-09-13", 600],
        ["2012-09-14", 700],
        ["2012-09-15", 800],
        ["2012-09-16", 900],
        ["2012-09-17", 1000],
        ["2012-09-18", 1100],
        ["2012-09-19", 1200],
        ["2012-09-20", 1300],
        ["2012-09-21", 1400],
        ["2012-09-22", 1500],
        ["2012-09-23", 1600],
        ["2012-09-24", 1700],
        ["2012-09-25", 1800],
        ["2012-09-26", 1900],
        ["2012-09-27", 2000],
        ["2012-09-28", 2500],
        ["2012-09-29", 2600],
        ["2012-09-30", 2700],
        ["2012-10-01", 2800],
        ["2012-10-02", 3000],
        ["2012-10-03", 3100],
        ["2012-10-04", 3200]
    ];
    var newVisits = [
        ["2012-08-01", 100],
        ["2012-08-02", 200],
        ["2012-08-03", 300],
        ["2012-08-04", 400],
        ["2012-08-05", 500],
        ["2012-08-06", 600],
        ["2012-08-07", 500],
        ["2012-08-08", 400],
        ["2012-08-09", 300],
        ["2012-08-10", 200],
        ["2012-08-11", 300],
        ["2012-08-12", 400],
        ["2012-08-13", 300],
        ["2012-08-14", 200],
        ["2012-08-15", 300],
        ["2012-08-16", 400],
        ["2012-08-17", 300],
        ["2012-08-18", 200],
        ["2012-08-19", 300],
        ["2012-08-20", 400],
        ["2012-08-21", 300],
        ["2012-08-22", 200],
        ["2012-08-23", 300],
        ["2012-08-24", 400],
        ["2012-08-25", 500],
        ["2012-08-26", 600],
        ["2012-08-27", 405],
        ["2012-08-28", 367],
        ["2012-08-29", 492],
        ["2012-08-30", 200],
        ["2012-08-31", 300],
        ["2012-09-01", 400],
        ["2012-09-02", 721],
        ["2012-09-03", 649],
        ["2012-09-04", 653],
        ["2012-09-06", 900],
        ["2012-09-07", 803],
        ["2012-09-08", 851],
        ["2012-09-09", 2059],
        ["2012-09-10", 994],
        ["2012-09-11", 742],
        ["2012-09-12", 1340],
        ["2012-09-13", 839],
        ["2012-09-14", 1769],
        ["2012-09-15", 1559],
        ["2012-09-16", 2099],
        ["2012-09-17", 1510],
        ["2012-09-18", 1691],
        ["2012-09-19", 1074],
        ["2012-09-20", 1529],
        ["2012-09-21", 1876],
        ["2012-09-22", 1986],
        ["2012-09-23", 1461],
        ["2012-09-24", 1460],
        ["2012-09-25", 1392],
        ["2012-09-26", 2164],
        ["2012-09-27", 1746],
        ["2012-09-28", 2220],
        ["2012-09-29", 2617],
        ["2012-09-30", 3236],
        ["2012-10-01", 1746],
        ["2012-10-02", 2220],
        ["2012-10-03", 4000],
        ["2012-10-04", 5000]
    ];
    var plot1 = $.jqplot("chart6", [dailyVisits, uniqueVisits, newVisits], {
        seriesColors: ["#edc240", "#58a60c", "#0077bc"],
        title: {
            text: 'Visitors Overview',
            textColor: "rgb(102, 102, 102)",
            fontFamily: "Arial,Helvetica,sans-serif",
            fontSize: "16px",
            textAlign: "center",
        },
        highlighter: {
            show: true,
            sizeAdjust: 1,
            tooltipOffset: 9
        },
        grid: {
            background: '#fff',
            drawBorder: false,
            drawGridLines: true,
            shadow: false,
            gridLineColor: '#eee',
            gridLineWidth: 1,
            borderWidth: .5,
            borderColor: '#999999',
        },
        legend: {
            show: true,
            location: 'se',
            // compass direction, nw, n, ne, e, se, s, sw, w.
            xoffset: 12,
            // pixel offset of the legend box from the x (or x2) axis.
            yoffset: 12,
            // pixel offset of the legend box from the y (or y2) axis.
        },
        seriesDefaults: {
            shadow: false,
            // show shadow or not.
            rendererOptions: {
                smooth: false,
                animation: {
                    show: true,
                    speed: 2500
                }
            },
            markerOptions: {
                show: true,
                // wether to show data point markers.
                style: 'filledCircle',
                // circle, diamond, square, filledCircle.
                // filledDiamond or filledSquare.
                lineWidth: 1,
                // width of the stroke drawing the marker.
                size: 10,
                // size (diameter, edge length, etc.) of the marker.
                color: '#eb8439',
                // color of marker, set to color of line by default.
                shadow: false,
                // wether to draw shadow on marker or not.
            }
        },
        series: [{
            lineWidth: 3,
            fill: true,
            label: 'Visits',
            fillAndStroke: true,
            fillColor: '#f7eaca',
            fillAlpha: 0.5,
            markerOptions: {
                show: true,
                // wether to show data point markers.
                style: 'filledCircle',
                // circle, diamond, square, filledCircle.
                // filledDiamond or filledSquare.
                lineWidth: 1,
                // width of the stroke drawing the marker.
                size: 8,
                // size (diameter, edge length, etc.) of the marker.
                color: '#eb8439',
                // color of marker, set to color of line by default.
                shadow: false,
                // wether to draw shadow on marker or not.
            }
        }, {
            lineWidth: 2,
            fill: true,
            label: 'Unique Visits',
            fillAndStroke: true,
            fillColor: '#b2ebac',
            fillAlpha: 0.3,
            markerOptions: {
                show: true,
                // wether to show data point markers.
                style: 'filledCircle',
                // circle, diamond, square, filledCircle.
                // filledDiamond or filledSquare.
                lineWidth: 1,
                // width of the stroke drawing the marker.
                size: 7,
                // size (diameter, edge length, etc.) of the marker.
                color: '#2d8800',
                // color of marker, set to color of line by default.
                shadow: false,
                // wether to draw shadow on marker or not.
            }
        }, {
            lineWidth: 1,
            fill: true,
            label: 'New Visits',
            fillAndStroke: true,
            fillColor: '#1774a9',
            fillAlpha: 0.1,
            markerOptions: {
                show: true,
                // wether to show data point markers.
                style: 'filledCircle',
                // circle, diamond, square, filledCircle.
                // filledDiamond or filledSquare.
                lineWidth: 1,
                // width of the stroke drawing the marker.
                size: 6,
                // size (diameter, edge length, etc.) of the marker.
                color: '#2e7197',
                // color of marker, set to color of line by default.
                shadow: false,
                // wether to draw shadow on marker or not.
            }
        }],
        axesDefaults: {
            rendererOptions: {
                baselineWidth: 1.5,
                baselineColor: '#444444',
                drawBaseline: false
            }
        },
        axes: {
            xaxis: {
                renderer: $.jqplot.DateAxisRenderer,
                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                tickOptions: {
                    formatString: "%b %e",
                    text: 'Visitors Overview',
                    textColor: "rgb(102, 102, 102)",
                    fontFamily: "Arial,Helvetica,sans-serif",
                    fontSize: "11px",
                    textAlign: "center"
                },
                min: "2012-08-01",
                max: "2012-08-15",
                tickInterval: "7 days",
                drawMajorGridlines: false
            },
            yaxis: {
                renderer: $.jqplot.LogAxisRenderer,
                pad: 0,
                rendererOptions: {
                    minorTicks: 1
                },
                tickOptions: {
                    formatString: "%'d",
                    showMark: false
                }
            }
        }
    });
});
</script>
<script type='text/javascript'>
   //   google.load('visualization', '1', {'packages': ['geochart']});
   //   google.setOnLoadCallback(drawRegionsMap);
   //    function drawRegionsMap() {
   //      var data = google.visualization.arrayToDataTable([
   //        ['Country', 'Popularity'],
   //        ['Germany', 200],
   //        ['United States', 300],
   //        ['Brazil', 400],
   //        ['Canada', 500],
   //        ['France', 600],
   //        ['RU', 700]
   //      ]);
   //      var options = {
			//  colorAxis: {colors: ['#c45118', '#23415c', '#8c2424']}
			// };
   //      var chart = new google.visualization.GeoChart(document.getElementById('chart_div_geo'));
   //      chart.draw(data, options);
   //  };
    </script>
<script type='text/javascript'>
    //  google.load('visualization', '1', {'packages': ['geochart']});
    //  google.setOnLoadCallback(drawMarkersMap);
    //   function drawMarkersMap() {
    //   var data = google.visualization.arrayToDataTable([
    //     ['City',   'Population', 'Area'],
    //     ['Rome',      2761477,    1285.31],
    //     ['Milan',     1324110,    181.76],
    //     ['Naples',    959574,     117.27],
    //     ['Turin',     907563,     130.17],
    //     ['Palermo',   655875,     158.9],
    //     ['Genoa',     607906,     243.60],
    //     ['Bologna',   380181,     140.7],
    //     ['Florence',  371282,     102.41],
    //     ['Fiumicino', 67370,      213.44],
    //     ['Anzio',     52192,      43.43],
    //     ['Ciampino',  38262,      11]
    //   ]);
    //   var options = {
    //     region: 'IT',
    //     displayMode: 'markers',
    //     colorAxis: {colors: ['#e24a00', '#2a0000']}
    //   };
    //   var chart = new google.visualization.GeoChart(document.getElementById('chart_div_geo1'));
    //   chart.draw(data, options);
    // };
    </script>

</head>
<body class="menu_hover">
    <% yield %>
<div class="top-bar">
	<div class="scroll-top">
		<a href="#" class="tip-top" title="Go Top">Top</a>
	</div>
	<div class="bar-container">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="logo">
						<img src="images/logo.jpg" width="60" alt="Anchor">
					</div>
				</div>
				<div class="span6">
					<div class="navbar-search">
						<form class="form-search">
							<div class="input-append">
								<input type="text" class="search-query" value="Topic...">
								<button type="submit" class="btn">Search</button>
							</div>
						</form>
					</div>
				</div>
				<div class="span3 clearfix">
					<div class="btn-toolbar top-toolbar pull-right">
						<div class="btn-group dropdown-append">
							<a data-toggle="dropdown" class="dropdown-toggle btn" href="#" title="Notifications"><span class="notify-tiptop">10</span><i class="gray-icons globe"></i></a>
							<div class="dropdown-menu msg-dropdown pull-right">
								<ul class="msg-list">
									<li class="clearfix">
									<h6 class="dropdown-h pull-left">Notifications</h6>
									<span class="pull-right msg-count"><a href="#">12 New</a></span></li>
									<li class="clearfix"><a href="#"><span class="dropdown-thumb"><img src="images/post-40x40.png" width="40" height="40" alt="Avatar"></span><span><i>Vestibulum</i> is posted an article. lacus est congue... </span><span class="notification-meta"> 12 hours ago </span></a></li>
									<li class="clearfix"><a href="#"><span class="dropdown-thumb"><img src="images/vdo-40x40.png" width="40" height="40" alt="Avatar"></span><span><i>jaman</i> is posted a video. lacus est congue... </span><span class="notification-meta"> 12 hours ago </span></a></li>
									<li class="clearfix"><a href="#"><span class="dropdown-thumb"><img src="images/audio-40x40.png" width="40" height="40" alt="Avatar"></span><span><i>zara</i> is posted an audio files. lacus est congue... </span><span class="notification-meta"> 12 hours ago </span></a></li>
									<li class="clearfix"><a href="#" class="btn btn-block view-all">View All</a></li>
								</ul>
							</div>
						</div>
						<div class="btn-group dropdown-append">
							<a data-toggle="dropdown" class="dropdown-toggle btn" href="#" title="Messages"><span class="notify-tiptop tips-blue">10</span><i class="gray-icons mail"></i></a>
							<div class="dropdown-menu msg-dropdown pull-right">
								<ul class="msg-list">
									<li class="clearfix">
									<h6 class="dropdown-h pull-left">Messages</h6>
									<span class="pull-right msg-count"><a href="#">12 New</a></span></li>
									<li class="clearfix"><a href="#"><span class="dropdown-thumb"><img src="images/avatar-40x40.png" width="40" height="40" alt="Avatar"></span><span><i>feroz</i> is send a message to you. lacus est congue... </span><span class="notification-meta"> 3 hours ago </span></a></li>
									<li class="clearfix"><a href="#"><span class="dropdown-thumb"><img src="images/avatar-40x40.png" width="40" height="40" alt="Avatar"></span><span><i>chisty</i> is send a message to you. lacus est congue... </span><span class="notification-meta"> 10 hours ago </span></a></li>
									<li class="clearfix"><a href="#"><span class="dropdown-thumb"><img src="images/avatar-40x40.png" width="40" height="40" alt="Avatar"></span><span><i>golam</i> is send a message to you. lacus est congue... </span><span class="notification-meta"> on Tuesday </span></a></li>
									<li class="clearfix"><a href="#" class="btn btn-block view-all">View All</a></li>
								</ul>
							</div>
						</div>
						<div class="btn-group dropdown-append">
							<a data-toggle="dropdown" class="dropdown-toggle btn" href="#" title="Recent Updates"><span class="notify-tiptop tips-green">100</span><i class="gray-icons list_image"></i></a>
							<div class="dropdown-menu msg-dropdown pull-right">
								<ul class="msg-list">
									<li class="clearfix">
									<h6 class="dropdown-h pull-left">Recent Updates</h6>
									<span class="pull-right msg-count"><a href="#">12 New</a></span></li>
									<li class="clearfix"><a href="#"><span class="dropdown-thumb"><img src="images/order-40x40.png" width="40" height="40" alt="Avatar"></span><span><i>Order</i> $3,645.8 Dollars order is pending. waiting for approval... </span></a></li>
									<li class="clearfix"><a href="#"><span class="dropdown-thumb"><img src="images/events-40x40.png" width="40" height="40" alt="Avatar"></span><span><i>Events</i> Total 30 new events is created... </span><span class="notification-meta"> Last Week </span></a></li>
									<li class="clearfix"><a href="#"><span class="dropdown-thumb"><img src="images/files-40x40.png" width="40" height="40" alt="Avatar"></span><span><i>Files</i> Total 2,564 files are posted in last week... </span><span class="notification-meta"> Last Week </span></a></li>
									<li class="clearfix"><a href="#" class="btn btn-block view-all">View All</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="index.html"><i class="white-icons home"></i> Home</a></li>
					<!-- <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="white-icons list_images"></i> Forms <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="form-elements.html"><i class="ledgray-icons application_form_co"></i> All Form Elements</a></li>
						<li><a href="form-validation.html"><i class="ledgray-icons asterisk_orange_co"></i> Form Validation</a></li>
						<li><a href="form-styles.html"><i class="ledgray-icons application_double_co"></i> Form Styles</a></li>
						<li><a href="form-wizard.html"><i class="ledgray-icons application_view_tile_co"></i> Form Wizard</a></li>
					</ul>
					</li>
					<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="white-icons cup"></i> Features <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="basic-tables.html"><i class=" ledgray-icons table_co"></i> Basic Tables</a></li>
						<li><a href="data-table.html"><i class=" ledgray-icons application_columns_co"></i> Data Tables</a></li>
						<li><a href="widgets.html"><i class=" ledgray-icons plugin_co"></i> Widgets</a></li>
						<li><a href="grid.html"><i class=" ledgray-icons grid_dot_co"></i> Grid</a></li>
						<li><a href="typography.html"><i class=" ledgray-icons font_co"></i> Typography</a></li>
						<li><a href="calendar.html"><i class=" ledgray-icons calendar_2_co"></i> Calendar</a></li>
						<li><a href="charts.html"><i class=" ledgray-icons chart_bar_co"></i> Charts</a></li>
						<li><a href="file-manager.html"><i class=" ledgray-icons folder_co"></i> File Manager</a></li>
						<li class="divider"></li>
						<li><a href="ui-elements.html"><i class=" ledgray-icons wand_co"></i> UI Elements</a></li>
						<li><a href="buttons-icons.html"><i class=" ledgray-icons pill_co"></i> Buttons &amp; Icons</a></li> -->
					</ul>
					<!-- </li>
					<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="white-icons documents"></i> Pages <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-submenu"><a href="#"><i class=" ledgray-icons cross_octagon_fram_co"></i> Error Pages</a>
						<ul class="dropdown-menu">
							<li><a href="page-403.html"><i class=" ledgray-icons page_white_error_co"></i> 403 Error Page</a></li>
							<li><a href="page-404.html"><i class=" ledgray-icons page_white_error_co"></i> 404 Error Page</a></li>
							<li><a href="page-405.html"><i class=" ledgray-icons page_white_error_co"></i> 405 Error Page</a></li>
							<li><a href="page-500.html"><i class=" ledgray-icons page_white_error_co"></i> 500 Error Page</a></li>
							<li><a href="page-503.html"><i class=" ledgray-icons page_white_error_co"></i> 503 Error Page</a></li>
						</ul>
						</li>
						<li><a href="login.html"><i class=" ledgray-icons ui_text_field_password_co"></i> Login Page</a></li>
						<li><a href="flip-login.html"><i class=" ledgray-icons ui_text_field_password_co"></i> Flip Login Page</a></li>
						<li><a href="forgot-pass.html"><i class=" ledgray-icons textfield_rename_co"></i> Forgot Password</a></li>
						<li><a href="inbox.html"><i class=" ledgray-icons inbox_co"></i> Inbox</a></li>
						<li><a href="user-profile.html"><i class=" ledgray-icons user_silhouette_co"></i> User Profile</a></li>
						<li><a href="invoice.html"><i class=" ledgray-icons money_dollar_co"></i> Invoice</a></li>
						<li><a href="gallery.html"><i class=" ledgray-icons slides_co"></i> Gallery</a></li>
						<li><a href="search.html"><i class=" ledgray-icons magnifier_co"></i> Search Page</a></li>
					</ul>
					</li> -->
					<!-- <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="white-icons frames"></i> Extras <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="blank-layout.html"><i class=" ledgray-icons layout_mix_co"></i> Blank Layout</a></li>
						<li><a href="layout-01.html"><i class=" ledgray-icons layout_co"></i> Layout 01</a></li>
						<li><a href="layout-02.html"><i class=" ledgray-icons layout_select_co"></i> Layout 02</a></li>
						<li><a href="layout-03.html"><i class=" ledgray-icons layout_select_content_co"></i> Layout 03</a></li>
						<li><a href="layout-with-sidebar.html"><i class=" ledgray-icons layout_select_sidebar_co"></i> Layout With Sidebar</a></li>
						<li><a href="fixed-layout.html"><i class=" ledgray-icons layout_join_co"></i> Fixed Layout</a></li>
						<li><a href="google-chart.html"><i class=" ledgray-icons chart_curve_co"></i> Google Chart</a></li>
					</ul>
					</li> -->
				</ul>
				<!-- <ul class="nav pull-right">
					<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="flag-icons"><img src="images/flag-icons/bd.png" width="16" height="11" alt="Bangla"></i><b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="flag-icons"><img src="images/flag-icons/us.png" width="16" height="11" alt="United States"></i> United States</a></li>
						<li><a href="#"><i class="flag-icons"><img src="images/flag-icons/gb.png" width="16" height="11" alt="United Kingdom"></i> United Kingdom</a></li>
						<li><a href="#"><i class="flag-icons"><img src="images/flag-icons/au.png" width="16" height="11" alt="United States"></i> Australia</a></li>
					</ul>
					</li>
					<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="white-icons admin_user_2"></i> Uncle Jhone <b class="caret"></b></a>
					<div class="dropdown-menu admin-dropdown">
						<div class="clearfix">
							<div class="admin-user-thumb">
								<img src="images/avatar-80x80.png" width="80" height="80" alt="img">
							</div>
							<div class="admin-menu-link">
								<ul>
									<li><a href="#"><i class=" gray-icons user"></i> Jhone Lee</a></li>
									<li><a href="#"><i class=" gray-icons mail"></i> jhon@mymail.com</a></li>
									<li><a href="#"><i class=" gray-icons create_write"></i> Edit Profile </a></li>
									<li><a href="#"><i class=" gray-icons cog_2"></i> Settings</a></li>
								</ul>
							</div>
						</div>
						<div class="admin-action">
							<button class="btn btn-extend btn-block" type="button">Logout</button>
						</div>
					</div>
					</li>
				</ul> -->
			</div>
			<!-- /.nav-collapse -->
		</div>
	</div>
	<!-- /navbar-inner -->
</div>
<div class="left-bar">
	<div class="side-nav">
		<ul>
			<li><a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="leftnav-icon computer_imac_blk"></span><span class="leftnav-label">Dashbard</span></a>
			</li>
			<!-- <li><a href="#"><span class="leftnav-icon folder_blk"></span><span class="leftnav-label">Medias</span></a></li>
			<li><a href="#"><span class="leftnav-icon chart_8_blk"></span><span class="leftnav-label">Statistics</span></a></li>
			<li><a href="#"><span class="leftnav-icon money_blk"></span><span class="leftnav-label">Orders</span></a></li>
			<li><a href="#"><span class="leftnav-icon help_blk"></span><span class="leftnav-label">Support</span></a></li> -->
			<li><a href="#"><span class="leftnav-icon cog_3_blk"></span><span class="leftnav-label">Recipies</span></a></li>
		</ul>
	</div>
</div>
<div class="main-wrapper">
	<div class="active-page">
		<ul>
			<li><span class="active-page-icon computer_imac_blk"></span><span>Dashboard</span></li>
		</ul>
	</div>
	<div class="container-fluid">
		<div class="alert alert-block no-radius fade in">
			<button type="button" class="close" data-dismiss="alert"><span class="mini-icon cross_c"></span></button>
			<h4>Warning!</h4>
			 Best check yo self, you're not...
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="box-widget">
					<div class="widget-head overview-chart clearfix">
						<span class="h-icon"><i class="gray-icons graph"></i></span>
						<h4 class="pull-left">Monthly visitors overview</h4>
						<div id="reportrange" class="pull-right range-dropdown">
							<i class="icon-calendar icon-large"></i><span></span><b class="caret"></b>
						</div>
					</div>
					<div class="widget-container">
						<div class="widget-block">
							<div class=" row-fluid">
								<div class="span8">
									<div id="chart6">
									</div>
								</div>
								<div class="span4">
									<h3 class="h-overview">3458 People visited this site</h3>
									<ul class="visit-overview">
										<li class="clearfix">
										<div class="chart-overview line-chart-overview">
											 8,4,5,6,7,8,1,4,4,10,10,10,10,11,12,13,4,6,5,9,10
										</div>
										 Visits: 4,712</li>
										<li>
										<div class="chart-overview line-chart-overview">
											 8,4,5,6,7,8,1,4,4,10,10,10,10,9,8,7,4,6,5,9,10
										</div>
										 Unique Visitors: 3,773 </li>
										<li>
										<div class="chart-overview line-chart-overview">
											 20,19,18,17,16,15,1,4,4,10,10,10,10,9,8,7,4,6,5,9,10
										</div>
										 Pageviews: 14,343 </li>
										<li>
										<div class="chart-overview line-chart-overview">
											 8,4,20,25,30,50,1,4,4,10,10,10,10,50,30,20,4,6,5,9,10
										</div>
										 Pages / Visit: 3.04 </li>
										<li>
										<div class="chart-overview line-chart-overview">
											 8,4,20,30,40,1,4,4,10,10,10,10,8,10,12,4,6,5,9,10
										</div>
										 Avg. Visit Duration: 00:02:57 </li>
										<li>
										<div class="chart-overview line-chart-overview">
											 8,4,10,8,7,6,1,4,4,10,10,10,10,20,19,18,4,6,5,9,10
										</div>
										 Bounce Rate: 23.09% </li>
										<li>
										<div class="chart-overview line-chart-overview">
											 8,4,8,10,20,12,4,4,10,10,10,10,20,12,12,4,6,5,9,10
										</div>
										 % New Visits: 76.83% </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<div class="box-widget">
					<div class="widget-head clearfix">
						<span class="h-icon"><i class="gray-icons globe"></i></span>
						<h4>Geo Map</h4>
					</div>
					<div class="widget-container">
						<div class=" widget-block">
							<div id="chart_div_geo">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="box-widget">
					<div class="widget-head clearfix">
						<span class="h-icon"><i class="gray-icons globe"></i></span>
						<h4>Geo Map</h4>
					</div>
					<div class="widget-container">
						<div class=" widget-block">
							<div id="chart_div_geo1">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="board-stats clearfix">
				<div class="span3">
					<div class="mini-stat-block clearfix">
						<div class="info-stat">
							<ul>
								<li class="mini-stat-title">Weekly Visitors</li>
								<li class="stat-count">25346<span class="increase"><i class="up"><img src="images/up.png" width="18" height="11" alt="up"></i> 10%</span></li>
							</ul>
						</div>
						<div class="mini-chart line-chart">
							 200,300,500,200,300,500,1000
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="mini-stat-block clearfix">
						<div class="info-stat">
							<ul>
								<li class="mini-stat-title">Weekly Visitors</li>
								<li class="stat-count">25346<span class="decrease"><i class="down"><img src="images/down.png" width="18" height="11" alt="down"></i> 10%</span></li>
							</ul>
						</div>
						<div class="mini-chart pie-chart">
							 1,2,3
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="mini-stat-block clearfix">
						<div class="info-stat">
							<ul>
								<li class="mini-stat-title">Weekly Visitors</li>
								<li class="stat-count">25346<span class="increase"><i class="up"><img src="images/up.png" width="18" height="11" alt="up"></i> 10%</span></li>
							</ul>
						</div>
						<div class="mini-chart bar-chart">
							 5,6,7,2,0,-4,-2,4
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="mini-stat-block clearfix">
						<div class="info-stat">
							<ul>
								<li class="mini-stat-title">Weekly Visitors</li>
								<li class="stat-count">25346<span class="increase"><i class="up"><img src="images/up.png" width="18" height="11" alt="up"></i> 10%</span></li>
							</ul>
						</div>
						<div class="mini-chart composite-line">
							 8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="shortcut-panel">
				<div class="span2">
					<div class="large-btn top-icon">
						<a href="#"><span class="icon magenta"><i class="white-icons users_2"></i></span><span class="btn-elem first-element">Users</span><span class="btn-elem second-element">10254</span></a>
					</div>
				</div>
				<div class="span2">
					<div class="large-btn top-icon">
						<a href="#"><span class="icon blue"><i class="white-icons megaphone"></i></span><span class="btn-elem first-element">Support Tickets</span><span class="btn-elem second-element">35684</span></a>
					</div>
				</div>
				<div class="span2">
					<div class="large-btn top-icon">
						<a href="#"><span class="icon orange"><i class="white-icons shopping_cart_3"></i></span><span class="btn-elem first-element">Orders</span><span class="btn-elem second-element">98674</span></a>
					</div>
				</div>
				<div class="span2">
					<div class="large-btn top-icon">
						<a href="#"><span class="icon green"><i class="white-icons documents"></i></span><span class="btn-elem first-element">Post </span><span class="btn-elem second-element">124865</span></a>
					</div>
				</div>
				<div class="span2">
					<div class="large-btn top-icon">
						<a href="#"><span class="icon gray"><i class="white-icons file_cabinet"></i></span><span class="btn-elem first-element">Documnets</span><span class="btn-elem second-element">987646</span></a>
					</div>
				</div>
				<div class="span2">
					<div class="large-btn top-icon">
						<a href="#"><span class="icon brown"><i class="white-icons speech_bubbles_2"></i></span><span class="btn-elem first-element">Comments</span><span class="btn-elem second-element">65843</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class=" shortcut-panel">
				<ul class="btn-circle clearfix">
					<li class="blue"><a href="#" title="All User"><i class="gray-icons users_2"></i><span class="notify-tiptop tips-green">10</span></a></li>
					<li class="green"><span class="notify-tiptop">100</span><a href="#" title="Comments"><i class="gray-icons speech_bubbles"></i></a></li>
					<li class="magenta"><a href="#" title="Messages"><i class="gray-icons box_incoming"></i></a></li>
					<li class="orange"><a href="#" title="Documents"><i class="gray-icons documents"></i></a></li>
					<li class="brown"><span class="notify-tiptop tips-blue">100</span><a href="#" title="Recent Orders"><i class="gray-icons shopping_cart_3"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row-fluid">
			<div class="shortcut-panel">
				<div class="span2">
					<div class="large-btn-block">
						<span class="notify-tiptop">100</span><a href="#"><span class="icon computer_imac_blk"></span><span class="link-btn">Dashboard</span></a>
					</div>
				</div>
				<div class="span2">
					<div class="large-btn-block">
						<a href="#"><span class="icon graph_blk"></span><span class="link-btn">Statistics</span></a>
					</div>
				</div>
				<div class="span2">
					<div class="large-btn-block">
						<span class="notify-tiptop tips-blue">140</span><a href="#"><span class="icon megaphone_blk"></span><span class="link-btn">Support Ticket</span></a>
					</div>
				</div>
				<div class="span2">
					<div class="large-btn-block">
						<span class="notify-tiptop tips-green">80</span><a href="#"><span class="icon money_blk"></span><span class="link-btn">Recent Orders</span></a>
					</div>
				</div>
				<div class="span2">
					<div class="large-btn-block">
						<a href="#"><span class="icon truck_blk"></span><span class="link-btn">Order Shipped</span></a>
					</div>
				</div>
				<div class="span2">
					<div class="large-btn-block">
						<a href="#"><span class="icon settings_blk"></span><span class="link-btn">Settings</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="page-header">
					<h2>Tab Widgets <small>top tab, left tab, right tab, bottom tab, tab with icon and without icon.</small></h2>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<ul class="main-tab nav nav-tabs" id="myTab">
					<li class="active"><a href="#home"><i class="gray-icons home"></i> Home</a></li>
					<li><a href="#profile"><i class="gray-icons user"></i> Profile</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="home">
						<h4 class="pane-header">Morbi pharetra volutpat auctor.</h4>
						<p>
							 Sed pharetra mattis nunc eget rhoncus. Sed non ligula ut est commodo pharetra. Integer commodo dolor in dolor rutrum tincidunt. Mauris egestas gravida metus, et dignissim turpis laoreet ut. Aliquam cursus, lorem ut tristique tempus, turpis massa ullamcorper lectus, non ornare massa nisi in neque. Mauris sit amet quam non diam aliquam tempus a a nulla. Fusce libero leo, adipiscing in varius eget, dignissim at dui.
						</p>
					</div>
					<div class="tab-pane" id="profile">
						<h4 class="pane-header">Morbi pharetra volutpat auctor.</h4>
						<p>
							 Donec eu risus odio, in mattis ligula. Quisque luctus bibendum enim eget mollis. Donec aliquet, erat non accumsan eleifend, ipsum mi hendrerit dui, in pharetra nibh diam at libero. Praesent tempor, risus ut pulvinar venenatis, massa metus volutpat diam, sed volutpat nisl dui ut felis. Praesent sagittis gravida ipsum, eu vehicula orci fringilla vel. Nulla vel metus nunc, tincidunt accumsan dui. Cras vestibulum, turpis nec porttitor convallis, turpis felis rutrum mi, sed suscipit elit velit in tellus. Nunc at erat vehicula leo commodo consequat. Maecenas at erat sed elit eleifend luctus sed cursus orci. Vivamus eu tellus dui, non blandit justo. Duis leo ante, egestas posuere interdum nec, interdum sit amet neque. Donec id elit ut nunc consequat porta ut in leo. In elementum nibh condimentum urna sagittis vel varius ligula posuere. Vestibulum lectus felis, aliquam at convallis nec, tempus ac leo. Aenean faucibus rutrum euismod.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<div class="box-widget tab-widget">
					<div class="widget-head clearfix">
						<ul class="nav nav-tabs pull-right">
							<li class="active"><a href="#tab1" data-toggle="tab"><i class="gray-icons headphones "></i> Active Tab</a></li>
							<li><a href="#tab2" data-toggle="tab"><i class="gray-icons speech_bubbles_2 "></i> Inactive Tab</a></li>
						</ul>
					</div>
					<div class="widget-container">
						<div class="tab-content">
							<div class="tab-pane active" id="tab1">
								<div class="block-content">
									<p>
										 I'm in Section 1.
									</p>
								</div>
							</div>
							<div class="tab-pane" id="tab2">
								<div class="block-content">
									<p>
										 Howdy, I'm in Section 2.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="box-widget tab-widget">
					<div class="widget-container">
						<div class="tab-content">
							<div class="tab-pane active" id="tab3">
								<div class="block-content">
									<p>
										 I'm in Section 1.
									</p>
								</div>
							</div>
							<div class="tab-pane" id="tab4">
								<div class="block-content">
									<p>
										 Howdy, I'm in Section 2.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="widget-head tab-bottom clearfix">
						<ul class="nav nav-tabs pull-right">
							<li class="active"><a href="#tab3" data-toggle="tab"><i class="gray-icons money"></i> Tab 1 </a></li>
							<li><a href="#tab4" data-toggle="tab"><i class="gray-icons piggy_bank"></i> Tab 2</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<div class="box-widget tab-widget clearfix">
					<div class="widget-head tab-left clearfix">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab10" data-toggle="tab"><i class="gray-icons folder"></i> Tab 1</a></li>
							<li><a href="#tab11" data-toggle="tab"><i class="gray-icons cloud_upload"></i> Tab 2</a></li>
						</ul>
					</div>
					<div class="widget-container">
						<div class="tab-content">
							<div class="tab-pane active" id="tab10">
								<div class="block-content">
									<p>
										 I'm in Section 1.
									</p>
								</div>
							</div>
							<div class="tab-pane" id="tab11">
								<div class="block-content">
									<p>
										 Howdy, I'm in Section 2.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="box-widget tab-widget clearfix">
					<div class="widget-head tab-right clearfix">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab13" data-toggle="tab"><i class="gray-icons truck"></i> Section 1</a></li>
							<li><a href="#tab14" data-toggle="tab"><i class="gray-icons chemical"></i> Section 2</a></li>
						</ul>
					</div>
					<div class="widget-container">
						<div class="tab-content">
							<div class="tab-pane active" id="tab13">
								<div class="block-content">
									<p>
										 I'm in Section 1.
									</p>
								</div>
							</div>
							<div class="tab-pane" id="tab14">
								<div class="block-content">
									<p>
										 Howdy, I'm in Section 2.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="intro-block">
					<div class="element-header">
						<h4>Table - 02 <small> boxy bordered table with data stats and dropdown menu.</small></h4>
					</div>
					<p>
						Estibulum nibh lorem, blandit non pretium sit amet, tempus eget ipsum. Quisque auctor pretium turpis nec elementum. Quisque egestas lectus nec eros ornare et eleifend dui adipiscing. Vestibulum non ipsum libero. Curabitur eu ligula dolor. Nulla sed rutrum tortor. Ut metus risus, consequat nec laoreet vel, congue eget odio. Fusce eu massa neque, posuere tempor ligula. Nam ac commodo libero. Vivamus quis posuere elit.
					</p>
				</div>
				<div class="data-meta clearfix">
					<ul>
						<li><a href="#"><i class="gray-icons file_cabinet"></i> View All (30)</a></li>
						<li><a href="#"><i class="gray-icons vault documents"></i> Publish (20)</a></li>
						<li><a href="#"><i class="gray-icons vault trashcan"></i> Trush (10)</a></li>
					</ul>
				</div>
				<div class="box-widget">
					<div class="widget-head clearfix">
						<div class="search-bar pull-left">
							<form action="#" method="get">
								<ul>
									<li>
									<select name="" class="search-select">
										<option value="Select">Select</option>
										<option value="Select 1">Select 1</option>
									</select>
									</li>
									<li><button class="btn" type="submit">
									Button </button></li>
								</ul>
							</form>
						</div>
						<div class="widget-action dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="gray-icons cog_2"></i><b class="caret"></b></a>
							<ul class="dropdown-menu pull-right">
								<li><a href="#"><i class=" ledgray-icons add_co"></i> Add Row</a></li>
								<li><a href="#"><i class="ledgray-icons disconnect_co"></i> Suspend</a></li>
								<li><a href="#"><i class="ledgray-icons accept_co"></i> Approved</a></li>
								<li><a href="#"><i class="ledgray-icons cross_co"></i> Delete</a></li>
							</ul>
						</div>
					</div>
					<div class="widget-container">
						<table class="table table-striped table-well responsive">
						<thead>
						<tr>
							<th>
								 OrderDate
							</th>
							<th>
								 Region
							</th>
							<th>
								 Rep
							</th>
							<th>
								 Item
							</th>
							<th>
								 Units
							</th>
							<th>
								 Unit Cost
							</th>
							<th>
								 Total
							</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								 1/6/10
							</td>
							<td>
								 Quebec
							</td>
							<td>
								 Jones
							</td>
							<td>
								 Pencil
							</td>
							<td>
								 95
							</td>
							<td>
								 1.99
							</td>
							<td>
								 189.05
							</td>
						</tr>
						<tr>
							<td>
								 1/23/10
							</td>
							<td>
								 Ontario
							</td>
							<td>
								 Kivell
							</td>
							<td>
								 Binder
							</td>
							<td>
								 50
							</td>
							<td>
								 19.99
							</td>
							<td>
								 999.50
							</td>
						</tr>
						<tr>
							<td>
								 2/9/10
							</td>
							<td>
								 Ontario
							</td>
							<td>
								 Jardine
							</td>
							<td>
								 Pencil
							</td>
							<td>
								 36
							</td>
							<td>
								 4.99
							</td>
							<td>
								 179.64
							</td>
						</tr>
						</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<div class="box-widget">
					<div class="widget-head clearfix">
						<span class="h-icon"><i class="gray-icons list"></i></span>
						<h4>Buttons</h4>
					</div>
					<div class="widget-container">
						<div class="widget-block">
							<ul class="elem-list">
								<li>
								<a class="btn">.btn</a></li>
								<li>
								<a class="btn btn-primary">.btn-primary</a></li>
								<li>
								<a class="btn btn-info">.btn-info</a></li>
								<li>
								<a class="btn btn-success">.btn-success</a></li>
								<li>
								<a class="btn btn-warning">.btn-warning</a></li>
								<li>
								<a class="btn btn-danger">.btn-dangery</a></li>
								<li>
								<a class="btn btn-inverse">.btn-inverse</a></li>
								<li>
								<a class="btn btn-extend">.btn-extend</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="box-widget">
					<div class="widget-head clearfix">
						<span class="h-icon"><i class="gray-icons list"></i></span>
						<h4>Buttons with icon</h4>
					</div>
					<div class="widget-container">
						<div class="widget-block">
							<ul class="elem-list">
								<li>
								<a class="btn btn-icon"><i class="gray-icons cog_3"></i> .btn .btn-icon</a></li>
								<li>
								<a class="btn btn-primary btn-icon"><i class="white-icons cup"></i> .btn-primary</a></li>
								<li>
								<a class="btn btn-info btn-icon"><i class="white-icons box_outgoing"></i> .btn-info</a></li>
								<li>
								<a class="btn btn-success btn-icon btn-icon"><i class="white-icons speech_bubbles_2"></i> .btn-success</a></li>
								<li>
								<a class="btn btn-warning btn-icon"><i class="white-icons truck"></i> .btn-warning</a></li>
								<li>
								<a class="btn btn-danger btn-icon"><i class="white-icons alarm_bell"></i> .btn-dangery</a></li>
								<li>
								<a class="btn btn-inverse btn-icon"><i class="white-icons mail"></i> .btn-inverse</a></li>
								<li>
								<a class="btn btn-extend btn-icon"><i class="white-icons note_book"></i> .btn-extend</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<div class="box-widget">
					<div class="widget-head clearfix">
						<span class="h-icon"><i class="gray-icons list"></i></span>
						<h4>Buttons Large</h4>
					</div>
					<div class="widget-container">
						<div class="widget-block">
							<ul class="elem-list">
								<li>
								<a class="btn btn-large">.btn</a></li>
								<li>
								<a class="btn btn-primary btn-large">.btn-primary</a></li>
								<li>
								<a class="btn btn-info btn-large">.btn-info</a></li>
								<li>
								<a class="btn btn-success btn-large">.btn-success</a></li>
								<li>
								<a class="btn btn-warning btn-large">.btn-warning</a></li>
								<li>
								<a class="btn btn-danger btn-large">.btn-dangery</a></li>
								<li>
								<a class="btn btn-inverse btn-large">.btn-inverse</a></li>
								<li>
								<a class="btn btn-extend btn-large">.btn-extend</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="box-widget">
					<div class="widget-head clearfix">
						<span class="h-icon"><i class="gray-icons list"></i></span>
						<h4>Buttons large with icon</h4>
					</div>
					<div class="widget-container">
						<div class="widget-block">
							<ul class="elem-list">
								<li>
								<a class="btn btn-icon btn-large"><i class="gray-icons cog_3"></i> .btn .btn-icon</a></li>
								<li>
								<a class="btn btn-primary btn-icon btn-large"><i class="white-icons cup"></i> .btn-primary</a></li>
								<li>
								<a class="btn btn-info btn-icon btn-large"><i class="white-icons box_outgoing"></i> .btn-info</a></li>
								<li>
								<a class="btn btn-success btn-icon btn-icon btn-large"><i class="white-icons speech_bubbles_2"></i> .btn-success</a></li>
								<li>
								<a class="btn btn-warning btn-icon btn-large"><i class="white-icons truck"></i> .btn-warning</a></li>
								<li>
								<a class="btn btn-danger btn-icon btn-large"><i class="white-icons alarm_bell"></i> .btn-dangery</a></li>
								<li>
								<a class="btn btn-inverse btn-icon btn-large"><i class="white-icons mail"></i> .btn-inverse</a></li>
								<li>
								<a class="btn btn-extend btn-icon btn-large"><i class="white-icons note_book"></i> .btn-extend</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<div class="box-widget">
					<div class="widget-head clearfix">
						<span class="h-icon"><i class="gray-icons list"></i></span>
						<h4>Buttons Group</h4>
					</div>
					<div class="widget-container">
						<div class="widget-block">
							<div class="btn-toolbar">
								<div class="btn-group">
									<button class="btn"><i class="ledcolor-icons font_co"></i></button>
									<button class="btn"><i class="ledcolor-icons bin_closed_co"></i></button>
									<button class="btn"><i class="ledcolor-icons add_co "></i></button>
									<button class="btn"><i class="ledcolor-icons hammer_screwdriver_co"></i></button>
								</div>
								<div class="btn-group">
									<button class="btn"><i class="ledcolor-icons padding_right_co"></i></button>
									<button class="btn"><i class="ledcolor-icons spellcheck_co"></i></button>
									<button class="btn"><i class="ledcolor-icons padding_left_co"></i></button>
								</div>
								<div class="btn-group">
									<button class="btn"><i class="ledcolor-icons printer_co"></i></button>
								</div>
							</div>
							<div class="btn-group ">
								<button class="btn"><i class="ledcolor-icons pencil_co"></i></button>
								<button class="btn"><i class="ledcolor-icons text_align_justify_co"></i></button>
								<button class="btn"><i class="ledcolor-icons tag_co"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="box-widget">
					<div class="widget-head clearfix">
						<span class="h-icon"><i class="gray-icons list"></i></span>
						<h4>Dropdown Buttons </h4>
					</div>
					<div class="widget-container">
						<div class="widget-block">
							<div class="btn-toolbar">
								<ul class="elem-list">
									<li>
									<div class="btn-group">
										<button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button data-toggle="dropdown" class="btn btn-danger dropdown-toggle">Danger <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">Warning <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button data-toggle="dropdown" class="btn btn-success dropdown-toggle">Success <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button data-toggle="dropdown" class="btn btn-info dropdown-toggle">Info <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle">Inverse <span class="caret"></span></button>
										<ul class="dropdown-menu pull-right">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<div class="box-widget">
					<div class="widget-head clearfix">
						<span class="h-icon"><i class="gray-icons list"></i></span>
						<h4>Split button dropdowns</h4>
					</div>
					<div class="widget-container">
						<div class="widget-block">
							<div class="btn-toolbar">
								<ul class="elem-list">
									<li>
									<div class="btn-group">
										<button class="btn">Action</button>
										<button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button class="btn btn-primary">Action</button>
										<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button class="btn btn-danger">Danger</button>
										<button data-toggle="dropdown" class="btn btn-danger dropdown-toggle"><span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button class="btn btn-warning">Warning</button>
										<button data-toggle="dropdown" class="btn btn-warning dropdown-toggle"><span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button class="btn btn-success">Success</button>
										<button data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button class="btn btn-info">Info</button>
										<button data-toggle="dropdown" class="btn btn-info dropdown-toggle"><span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
									<li>
									<div class="btn-group">
										<button class="btn btn-inverse">Inverse</button>
										<button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle"><span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li><a href="#">Action</a></li>
											<li><a href="#">Another action</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">Separated link</a></li>
										</ul>
									</div>
									</li>
									<!-- /btn-group -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="box-widget">
					<div class="widget-head clearfix">
						<span class="h-icon"><i class="gray-icons list"></i></span>
						<h4>Split button dropdowns</h4>
					</div>
					<div class="widget-container">
						<div class="widget-block">
							<ul class="elem-list">
								<li>
								<div class="btn-group dropdown-extend ">
									<a href="#" class="btn btn-lbl"><i class="black-icons users"></i> User</a><a href="#" data-toggle="dropdown" class="btn btn-split dropdown-toggle"><i class="gray-icons users"></i></a>
									<ul class="dropdown-menu ">
										<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
										<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
										<li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="i"></i> Make admin</a></li>
									</ul>
								</div>
								</li>
								<li>
								<div class="btn-group dropdown-extend ">
									<a href="#" class="btn btn-lbl btn-large"><i class="black-icons users"></i> Large</a><a href="#" data-toggle="dropdown" class="btn btn-split btn-large dropdown-toggle"><i class="gray-icons users"></i></a>
									<ul class="dropdown-menu ">
										<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
										<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
										<li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="i"></i> Make admin</a></li>
									</ul>
								</div>
								</li>
								<li>
								<div class="btn-group dropdown-extend ">
									<a href="#" class="btn btn-lbl"><i class="black-icons users"></i> User</a><a href="#" data-toggle="dropdown" class="btn btn-split dropdown-toggle"><i class="gray-icons users"></i></a>
									<ul class="dropdown-menu ">
										<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
										<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
										<li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="i"></i> Make admin</a></li>
									</ul>
								</div>
								</li>
								<li class=" pull-right ">
								<div class="btn-group dropdown-extend pull-right ">
									<a href="#" class="btn btn-lbl btn-large"><i class="black-icons users"></i> Large Right</a><a href="#" data-toggle="dropdown" class="btn btn-split btn-large dropdown-toggle"><i class="gray-icons users"></i></a>
									<ul class="dropdown-menu">
										<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
										<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
										<li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="i"></i> Make admin</a></li>
									</ul>
								</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
</body>
</html>
